@{
    ViewBag.Title = "Home Page";
}

<style>
    .imaging {
        background-image: url("~/Content/ApartmentImages/app_logo.png");
        background-repeat: no-repeat;
    }
    /*
    body {
        background: url("~/Content/ApartmentImages/app_logo.png");
        /*background-image: url("app_logo.png");*/
        /*background-repeat: no-repeat;*/
    }
    */
</style>

<!--background="~/Content/ApartmentImages/app_logo.png" background-repeat: no-repeat-->

<body style="background: transparent url(/Content/ApartmentImages/app_logo.png) center top no-repeat; margin: 20px auto; padding: 45px 10px 20px; width: 90%;>
    <div class="centar">
        <h2>Apartment DamTin</h2>
    </div>

    <!--
    <div style="background: transparent url(/Content/ApartmentImages/app_logo.png) center top no-repeat; margin: 20px auto; padding: 45px 10px 20px; width: 90%; ">
        YOUR POST TEXT HERE
    </div>
    -->

    <div>
        <p class="borderize">@Html.ActionLink("Make Your Reservation", "Create", "TouristManager")</p>
        <p class="borderize">@Html.ActionLink("Learn More", "LearnMore", "Home")</p>
        <p class="borderize">@Html.ActionLink("Pictures of Apartment", "Pictures", "Home")</p>
        <p class="borderize marginBottom">@Html.ActionLink("Free Days Left", "DaysLeft", "Home")</p>
    </div>
</body>